<h1>Delete book</h1>
<form (ngSubmit)="deleteBook(id)" [formGroup]="bookForm">
  <table>
    <tr>
      <th>Name:</th>
      <td><input formControlName="title" type="text"></td>
    </tr>
    <tr>
      <th>Author:</th>
      <td><input formControlName="author" type="text"></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><input formControlName="description" type="text"></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>
        <button>Delete</button>
        <button><a routerLink="/book/list">Exit</a></button>
      </td>
    </tr>
  </table>
</form>
