<h1>Update book</h1>
<form (ngSubmit)="updateBook(id)" [formGroup]="bookForm">
  <table>
    <tr>
      <th>Name:</th>
      <td><input formControlName="title" type="text"></td>
    </tr>
    <tr>
      <th>Author:</th>
      <td><input formControlName="author" type="text"></td>
    </tr>
    <tr>
      <th>Description:</th>
      <td><input formControlName="description" type="text"></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td>
        <button>Update</button>
      </td>
    </tr>
  </table>
</form>
